<div class="w-screen h-screen bg-blue-400 flex flex-col justify-start items-center">
  <div class="header mt-24 w-2/3 px-4 shadow rounded-sm h-36 bg-white flex justify-start items-start">
    <div class="flex flex-col">
      <h2 class="font-semibold text-3xl w-full pt-6 px-4"><%= @quiz.title %></h2>
      <p class="font-semibold text-sm w-full pt-2 px-4">Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
  </div>
  <% @quiz.questions.each do |question| %>
    <div class="relative w-2/3 mt-8 px-4 shadow rounded-sm h-36 bg-white flex justify-start items-start">
      <div class="absolute right-4 top-2 flex">
        <%= link_to edit_question_path(question) do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/></svg>
        <% end %>
        <%= link_to question_path(question), method: :delete do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/></svg>
        <% end %>
      </div>
      <div class="flex flex-col w-full p-4">
        <%= question.question %>
        <%#= render './questions/partials/form', locals: { quiz: question.quiz, quiz_question: @question } %>
      </div>
    </div>
  <% end %>
  <div class="w-2/3 mt-8 px-4 shadow rounded-sm h-36 bg-white flex justify-start items-start">
    <div class="flex flex-col w-full p-4">
      <%= render './questions/partials/form', locals: { quiz: @quiz, quiz_question: @question } %>
    </div>
  </div>
</div>
